<center>
<h1>Your Results</h1>
<div>
<p><strong>Guess:</strong> <%= @guess %></p>
<p><strong>Score:</strong> <%= @score %></p>
</div>
<br>

<form action="/game">
    <input type="submit" value="Play Again" />
</form>





































<style type="text/css">

h1{
  font-family: arial;
  text-align: center;
  color: #1abc9c;
}

h2{
  font-family:arial;
    text-align: center;
      color: #1abc9c;
      opacity: 0.5;
}

form{
    max-width: 200px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: arial;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 15px;
}

form input[type="submit"],
form input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
form input[type="submit"]:hover,
form input[type="button"]:hover
{
    background: #109177;
}

body {
  font-family: arial;
    text-align: center;
}

div {
    padding: 10px;
    border: 5px solid #1abc9c;
    align-items: center;
    width: 200px;
}

strong {
      font-family:arial;
    text-align: center;
      color: #1abc9c;
      opacity: 0.5;
}

</style>

